/* Reset CSS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Main style  */

/* Variables */

:root {
  --main-bg-color: #faf7f0;
  --hero-bg-color: #bfd5d6;
  --font-size: 12pt;
  --stroke-desk: 1px;
  --stroke-mobile: 2px;
  --border-color: var(--main-color);
  --bomb: #5b4231;
  --color-red: #59493e;
  --color-red4: #8d7766;
  --color-red3: #aa998c;
  --color-red2: #c6bbb3;
  --color-red1: #e3ddd9;
  --guzman-back: var(--hero-bg-color);
  --hero-color: var(--color-red);
  --main-color: var(--color-red);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: calc(var(--font-size) + 1pt);
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--main-color);
  background: var(--main-bg-color);
  margin: 0;
  height: 100vh;
  min-height: 100vh;
}
#page {
  overflow-x: hidden;
}
a {
  color: #33aaa7;
  text-decoration: none;
  line-height: 0.2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  color: var(--color-red);
  outline: none;
  text-decoration: none;
}
p {
  margin-bottom: 20px;
}
p svg {
  stroke-width: 3px;
  stroke: var(--color-red4);
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: 24px;
  display: inline;
  vertical-align: middle;
  margin-left: 8px;
  cursor: pointer;
  padding: 1px;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
p svg:hover {
  padding: 0;
}
.new-text p svg {
  stroke: var(--guzman-back);
}
p svg:active {
  padding: 2px;
}
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: var(--main-color);
  font-family: "Noto Serif", serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
h2 {
  font-size: calc(3vw + 2vh + 1vmin);
  line-height: 1.2;
}
sup {
  font-size: calc(var(--font-size) - 4pt);
  font-weight: 700;
}
::-webkit-selection {
  color: var(--main-bg-color);
  background: var(--color-red);
}
::-moz-selection {
  color: var(--main-bg-color);
  background: var(--color-red);
}
::selection {
  color: var(--main-bg-color);
  background: var(--color-red);
}
.arrow-box {
  z-index: 2000;
  position: fixed;
  bottom: 0;
  left: 50%;
  height: 10vh;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
svg.scrollArrow {
  fill: var(--main-bg-color);
  width: calc(2vw + 6vh);
  animation: sd 2s infinite;
  -webkit-animation: sd 2s infinite;
}
@keyframes sd {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  20% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  40% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.audio-box {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.audio-box p {
  text-align: center;
  padding-left: 0;
}
.audio_play {
  max-width: 100px;
  max-height: 100px;
  position: relative;
  z-index: 20;
  cursor: pointer;
}
.audio_play svg {
  width: 100%;
  stroke: var(--color-red4);
  stroke-width: 0.5;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.audio_play:hover svg {
  stroke: #78b5b5;
}
.audio-title {
  text-align: left;
  font-size: calc(var(--font-size) - 2pt);
  margin-right: 8px;
}
.waveform {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 6px 15px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: background 500ms ease-out;
  -webkit-transition: background 500ms ease-out;
  -moz-transition: background 500ms ease-out;
  -ms-transition: background 500ms ease-out;
  -o-transition: background 500ms ease-out;
}
.waveform.on {
  background: rgba(250, 247, 240, 0.9);
}
.playPause {
  cursor: pointer;
  width: 34px;
  height: 34px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 20;
}
.playPause.on {
  opacity: 1;
}
.audioIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  stroke: var(--color-red4);
  stroke-width: 0.6;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.audioIcon.off {
  opacity: 0;
  stroke: var(--guzman-back);
  height: 90%;
  width: 90%;
}
.waveBox {
  flex-grow: 1;
  cursor: pointer;
  margin-left: 8px;
  mix-blend-mode: multiply;
  /* margin-right: 28px; */
}

.hero {
  z-index: 100;
  width: 85vw;
  max-width: 1460px;
  margin: 0 auto;
  position: relative;
  background: var(--hero-bg-color);
  color: var(--hero-color);
  padding-bottom: 15vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
}
.hero-letters_box {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 50% 0 25% 0;
}
.mmc {
  width: 50%;
  fill: #6dc9c4;
  z-index: 1000;
  opacity: 0.9;
  mix-blend-mode: multiply;
}
.hero-letters {
  position: absolute;
  top: 50%;
  z-index: 150;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  mix-blend-mode: overlay;
  pointer-events: none;
}
.hero-letter {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: calc(5vw + 4vh + 2vmin);
  color: var(--main-bg-color);
  margin: 0 -1px;
  line-height: 1;
  opacity: 0.85;
  mix-blend-mode: overlay;
}
.explicacion {
  padding: 12vh 12% 2vh;
  display: flex;
  justify-content: center;
}
.explicacion p {
  max-width: 500px;
}
.hero-dpto {
  z-index: 150;
  font-size: calc(var(--font-size) * 1.6);
  color: var(--color-red);
  margin-top: 20vh;
  margin-bottom: 5vh;
}
.hero-img {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: 8;
  display: block;
  background-image: url("../images/algeciras-hero.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.hero-img-copy {
  font-size: 9pt;
  font-weight: 500;
  width: 96%;
  margin: 5px 10px 0;
  line-height: 1.4;
  color: var(--color-red);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero-img-copy div:first-child {
  margin-right: 40px;
}
.hero-img-copy div:last-child {
  text-align: right;
}
.hero-img-copy span {
  display: inline-block;
  margin: 0 0 6px;
}
.hero-img-copy span:first-child {
  display: block;
}
.hero-info {
  width: 85%;
}
.hero-info-map {
  width: 100%;
  margin-bottom: 2vh;
  /* font-size: calc(0.8vw + 2vh); */
}
.mapa-algeciras {
  stroke: var(--main-bg-color);
  stroke-width: 4;
  fill: rgba(250, 247, 240, 0.1);
  margin-bottom: 20px;
}
.hero-info-text {
  /* padding-top: 10px; */
}
.hero-info-text div {
  margin-bottom: 12px;
}
.hero-info-text :last-child {
  margin-bottom: 0;
}
.hero-info-text div div {
  display: block;
  font-family: "Noto Serif", serif;
  font-size: 22pt;
  line-height: 0.8;
  color: var(--main-bg-color);
}
.hero-info-text div div span {
  font-size: 18pt;
}

.context {
  width: 95vw;
  margin-bottom: 22vh;
  position: relative;
  z-index: 1;
  border: solid 1px var(--main-bg-color);
}
.context-text {
  position: relative;
  z-index: 10;
  margin: 30% 0 0 30%;
  width: 70%;
}
blockquote {
  font-family: "Noto Serif", serif;
  line-height: 1.2;
  font-style: italic;
  font-size: calc(1.8vw + 2vh);
  z-index: 1;
  margin-bottom: 10vh;
  padding-left: 8vw;
}
blockquote svg {
  position: absolute;
  z-index: -1;
  top: -30%;
  left: -4%;
  width: 30%;
  fill: var(--hero-bg-color);
}
.context-text cite {
  display: block;
  font-size: calc(var(--font-size) - 3pt);
  font-style: normal;
  margin: 20px 0 0 30px;
}
.context-map {
  position: absolute;
  z-index: 5;
  top: -38%;
  left: -5%;
  width: 80vw;
}
.location-pin {
  fill: var(--color-red);
  height: 40px;
  position: absolute;
  top: calc(59.5% - 42px);
  left: -20.7%;
}
.map-colombia {
  stroke: var(--hero-bg-color);
  stroke-width: 3px;
  fill: #fcfaf7;
}
.map-huila {
  fill: var(--main-bg-color);
  stroke: var(--hero-bg-color);
  stroke-width: 3px;
}
.map-algeciras {
  fill: var(--hero-bg-color);
}

h1 {
  font-size: calc(6vw + 5.5vh + 1vmin);
  line-height: 0.9;
  margin: 15vh 0 15vh;
  letter-spacing: -5px;
}
h1 span {
  font-size: calc(3vw + 2vh + 1vmin);
  line-height: 1;
  display: block;
  margin: 0;
  letter-spacing: 3px;
}
h1 span.mario {
  color: var(--guzman-back);
}
.nav {
  position: absolute;
  left: 10vw;
  top: 40vh;
  z-index: 1000;
}

.content-info {
  max-width: 1040px;
  padding: 0 20px 50px;
  position: relative;
  z-index: 10;
  margin: auto;
}
.content-info.news3 {
  margin-top: 20vh;
}
.content-info h2 {
  font-size: calc(3vw + 4vh);
  line-height: 1;
  display: inline-block;
  width: 47%;
  font-weight: 300;
  color: var(--guzman-back);
}
.content-info span {
  display: block;
  margin-right: 1%;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--guzman-back);
}
.content-info p span {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.content-info p:first-of-type {
  margin-right: 1%;
  padding-right: 2%;
}
.content-info p:first-of-type::first-letter {
  font-family: "Noto Serif", serif;
  font-weight: 300;
  text-transform: uppercase;
  float: left;
  font-size: calc(4vw + 6vh);
  line-height: 40px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  color: var(--guzman-back);
}

.atentados {
  position: relative;
  width: 94vw;
  max-width: 1200px;
  margin: 1vh auto 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.atentados-copy {
  width: 100vw;
  max-width: 1160px;
  margin: 0 auto 5vh;
  text-align: center;
}
.atentados-copy svg {
  width: 40px;
  stroke: var(--guzman-back);
}
.atentados-copy p {
  font-style: italic;
  max-width: 80%;
  text-align: center;
  margin: auto;
  padding: 0;
}
.atentado {
  margin-bottom: 8%;
  border-top: 1px solid var(--color-red2);
  border-bottom: 1px solid var(--color-red2);
  padding: 0px 10px;
  position: relative;
}
.atentado:after {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: 10px;
  width: calc(100% - 19px);
  height: calc(100% + 26px);
  border-left: 1px solid var(--color-red2);
  border-right: 1px solid var(--color-red2);
}
/* .atentado img {
  filter: sepia(30%) saturate(70%) opacity(0.9);
  -webkit-filter: sepia(30%) saturate(70%) opacity(0.9);
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}*/
/* .atentado:hover {
  z-index: 5000;
} */
/* .atentado:hover img {
  filter: none;
  -webkit-filter: none;
}  */

.audioMario1,
.audioMario2 {
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 100;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.audioMario1 {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(250, 247, 240, 1) 0%,
      rgba(250, 247, 240, 0) 5%,
      rgba(250, 247, 240, 0) 90%,
      rgba(250, 247, 240, 1) 100%
    ),
    url("../images/marioBack.jpg");
  /* background-image: url("../images/marioBack.jpg"); */
  background-size: cover;
  background-position: 95% 40%;
  background-repeat: no-repeat;
}
.audioMario2 {
  z-index: 5000;
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(250, 247, 240, 1) 0%,
      rgba(250, 247, 240, 0) 15%,
      rgba(250, 247, 240, 0) 90%,
      rgba(250, 247, 240, 1) 100%
    ),
    url("../images/marioBack-2.jpg");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.content-junio {
  padding: 20vh 20px 0;
  position: relative;
  z-index: 10;
  margin: auto;
  text-align: center;
}
.content-junio h3 {
  font-size: calc(14vw + 8vh);
  line-height: 1;
  font-weight: 700;
  text-transform: none;
  color: var(--guzman-back);
  word-wrap: break-word;
}
.content-junio h3 span {
  font-size: calc(5vw + 4vh + 1vmin);
  font-weight: 100;
}

.old {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--main-bg-color);
}
.old-fixed {
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;
}
.lines-fixed {
  stroke: #bfd5d6;
  opacity: 0.5;
}
.old-container {
  max-width: 1050px;
  margin: auto;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iglesia-old-box {
  position: absolute;
  width: 100%;
  max-height: 100vh;
  z-index: 10;
}
.iglesia-old {
  position: relative;
  z-index: 10;
  max-width: 100vw;
  max-height: 100vh;
  margin-top: -5vh;
}
.iglesia-fixed {
  position: relative;
  z-index: 10;
  max-width: 100vw;
  max-height: 100vh;
  margin-top: -5vh;
}
.border {
  stroke-width: 0.8px;
  stroke: var(--color-red);
}
.oldFill {
  fill: var(--main-bg-color);
}
.oldFill-red {
  fill: var(--color-red);
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0.7rem rgba(250, 247, 240, 0.2);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 8rem rgba(250, 247, 240, 0);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
}
.shot {
  width: 5.5%;
  padding: 1.5%;
  position: absolute;
  z-index: 120;
  opacity: 0.9;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  animation: ripple 1s ease-out infinite;
  -webkit-animation: ripple 1s ease-out infinite;
  background: var(--color-red);
  box-shadow: 0 1px 2px rgba(190, 39, 77, 0.07),
    0 2px 4px rgba(190, 39, 77, 0.07), 0 4px 8px rgba(190, 39, 77, 0.07),
    0 8px 16px rgba(190, 39, 77, 0.07), 0 16px 32px rgba(190, 39, 77, 0.07),
    0 32px 64px rgba(190, 39, 77, 0.07);
  transition: background 250ms ease-in-out;
  -webkit-transition: background 250ms ease-in-out;
  -moz-transition: background 250ms ease-in-out;
  -ms-transition: background 250ms ease-in-out;
  -o-transition: background 250ms ease-in-out;
}
.shot:hover {
  background: var(--guzman-back);
}
.shot svg {
  stroke: var(--hero-bg-color);
  stroke-width: 1;
  fill: none;
  stroke-linecap: round;
}
.shot:hover svg {
  stroke: var(--color-red);
}
.shot::before,
.shot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: ripple 3s ease-out infinite 1s;
  -webkit-animation: ripple 3s ease-out infinite 1s;
}
.shot::after {
  animation: ripple 3s ease-out infinite 2s;
  -webkit-animation: ripple 3s ease-out infinite 2s;
}
.shot-1 {
  top: 18%;
  left: 38%;
}
.shot-2 {
  top: 30%;
  left: 53%;
}
.shot-3 {
  top: 43%;
  left: 36%;
}
.shot-4 {
  top: 52%;
  left: 66%;
}
.shot-5 {
  top: 72%;
  left: 46%;
}
.attacks {
  z-index: 100;
}
.attack {
  position: absolute;
  z-index: 100;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  cursor: pointer;
}
.attack:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: rgba(91, 66, 49, 0.9);
  z-index: 8;
  border-radius: 60%;
  -moz-border-radius: 60%;
  -webkit-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}
.attack div {
  position: relative;
  width: 76%;
  text-align: center;
  font-weight: 300;
  line-height: 1.2;
  font-style: italic;
  font-size: calc(1.5vw + 2vh);
  color: var(--guzman-back);
  z-index: 10;
  pointer-events: none;
  cursor: pointer;
}

.attack-1 {
  width: 35%;
  top: 14%;
  left: 25%;
}
.attack-2 {
  width: 60%;
  top: 24%;
  left: 20%;
}
.attack-3 {
  width: 62%;
  top: 30%;
  left: 5%;
}
.attack-4 {
  width: 62%;
  top: 30%;
  left: 35%;
}
.attack-5 {
  width: 33%;
  top: 52%;
  left: 33%;
}

.ruinasLine {
  fill: none;
  stroke: var(--guzman-back);
  stroke-width: 0.6px;
}

.guzman-back {
  background: var(--guzman-back);
  width: 100vw;
  position: relative;
  padding: 5vh 0;
}
.guzman-back.new {
  height: 80vh;
}
.guzman-iglesia {
  width: 60%;
  max-width: 900px;
  height: 100%;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  background-image: url("../images/new-01.jpg");
  background-size: cover;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}
.guzman-info {
  max-width: 1040px;
  padding: 0 20px;
  position: relative;
  z-index: 10;
  margin: auto;
}
.guzman-info p.xMovil {
  margin-top: 10vh;
}
.xDesk {
  display: none;
}
.guzman-info.new {
  margin-top: 0;
  padding-top: 0;
}
.guzman-info p {
  width: 95%;
}
.guzman-info.new p {
  width: 54%;
}
.guzman-info h2 {
  color: #513077;
}
.guzman-info.foto {
  height: 45vh;
  margin-top: 10vh;
}
.guzman-foto {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../images/guzman-foto.jpg");
  background-size: cover;
  background-position: 60% top;
  background-repeat: no-repeat;
  /* border-top: 1px solid var(--main-bg-color);
  border-left: 1px solid var(--main-bg-color); */
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.guzman-info.foto h2 {
  text-transform: capitalize;
  color: var(--guzman-back);
  font-size: calc(5vw + 7vh);
  line-height: 0.66;
  position: absolute;
  left: 10%;
  bottom: -10%;
}
.guzman-text {
  max-width: 1040px;
  padding: 0 20px;
  position: relative;
  z-index: 10;
  margin: 10vh auto 0;
}
.obra-box {
  max-width: 1040px;
  padding: 0 20px;
  position: relative;
  z-index: 10;
  margin: auto;
  border: 1px solid rgba(250, 247, 240, 0);
}
.obra-text {
  width: 80%;
}
.guzman-info.obra {
  position: relative;
  height: 40vh;
}
.guzman-info.obra p.cristo-title {
  position: absolute;
  top: -50%;
  width: 40%;
  left: 0;
  right: 0;
  font-size: calc(var(--font-size) - 4pt);
  font-style: italic;
  z-index: 10;
  border-left: none;
  padding-left: 0;
}
.cristo {
  position: absolute;
  z-index: 5;
  max-width: 80%;
  max-height: 110vh;
  right: 0;
  bottom: 40%;
}
.cristo img {
  position: absolute;
  max-height: 110vh;
}
.cristo-1 {
  z-index: 20;
}
.cristo-2 {
  z-index: 15;
}
.cristo-4 {
  z-index: 5;
}
.cristo img.cristo-3 {
  z-index: 10;
  position: relative;
}
.cristo-off {
  position: relative;
  width: 60%;
  max-height: 120vh;
  float: right;
  opacity: 0;
}
.guzman-back.obras {
  padding: 0 0 2vh;
}
.guzman-back.obras::after {
  content: "";
  width: 100%;
  height: 60%;
  background: var(--main-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.caido-text-box {
  z-index: 10;
  margin: auto;
  background: var(--guzman-back);
  padding: 40px 0 20px;
}
.caido-text {
  max-width: 1040px;
  padding: 0 20px;
  position: relative;
  z-index: 10;
  margin: auto;
}
.caido-text p {
  margin-bottom: 0;
}

.guzman-back.caido {
  padding: 0;
  padding-top: 15vh;
}
.guzman-back.caido::after {
  content: "";
  width: 100%;
  height: 30%;
  background: var(--main-bg-color);
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  z-index: 4;
}
.caido-box {
  width: 100%;
  margin: auto;
  max-width: 1460px;
  padding: 0 20px;
  position: relative;
  z-index: 200;
}
.caido-box p {
  position: absolute;
  width: 45%;
  top: 8%;
  right: 15%;
}
.button {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  display: inline-block;
  z-index: 100;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background: 1px solid var(--guzman-back);
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
button:hover,
button:focus {
  background: var(--color-red);
  border: 1px solid var(--guzman-back);
  color: var(--main-bg-color);
}
.hoy-box {
  max-width: 1050px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20vh; */
}
.hoy {
  max-width: 1040px;
  padding: 0 20px;
  position: absolute;
  top: 60vh;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hoy h2 {
  text-transform: capitalize;
  font-size: calc(5vw + 5vh + 1vmin);
  color: var(--guzman-back);
}
.hoy-attack {
  margin-left: 15%;
  margin-top: 8%;
  position: absolute;
  color: var(--main-bg-color);
  z-index: 100;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: multiply;
  padding: 10%;
}
.hoy-attack div {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-transform: lowercase;
  font-size: calc(4vw + 4vh);
  z-index: 10;
}
.hoy-attack svg {
  position: absolute;
  width: 100%;
  fill: var(--color-red);
  opacity: 0.8;
  mix-blend-mode: multiply;
}
.old-new {
  position: relative;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  margin-top: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg-color);
}
.new-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-text {
  z-index: 500;
  max-width: 800px;
  padding: 0 20px;
  color: white;
}
.new-text p {
  /* font-size: calc(4vw + 1vh); */
  line-height: 1.5;
  width: 80%;
  color: var(--main-bg-color);
}

.new-text span {
  display: block;
  width: 90%;
  font-family: "Noto Serif", serif;
  font-size: calc(2vw + 3vh);
  letter-spacing: 4px;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: var(--guzman-back);
  border-bottom: 1px solid var(--guzman-back);
}

.iglesia-new-box {
  position: relative;
  width: 100%;
  max-height: 100vh;
  z-index: 10;
}
.iglesia-new {
  position: relative;
  z-index: 10;
  max-width: 100vw;
  max-height: 100vh;
  margin-top: -5vh;
}
.lines-new {
  stroke: var(--bomb);
}
.newFill-red {
  fill: var(--color-red);
}
.shot-new {
  width: 8%;
  padding: 2%;
  left: 46%;
  top: 55%;
}
.attack-new {
  position: absolute;
  z-index: 100;
  width: 30%;
  height: 30%;
  top: 43%;
  left: 40%;
  mix-blend-mode: multiply;
}
.attack-new:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: var(--bomb);
  opacity: 0.9;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.attack-new-1 {
  top: 50%;
  left: 40%;
}

.border-bomb {
  display: none;
}
.creditos {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: var(--guzman-back);
  padding: 10vh 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}
.creditos p {
  max-width: 500px;
  border: none;
  text-align: center;
  margin-bottom: 2vh;
  /* font-family: "Noto Serif", serif; */
  color: var(--color-red);
}
.creditos p:last-child {
  margin-bottom: 0;
}
.creditos p span {
  font-weight: 300;
  font-size: calc(var(--font-size) - 3pt);
}
img.logos {
  width: 100%;
  max-width: 800px;
  margin: 6vh 0;
}
.lab {
  width: 100vw;
  height: 8vh;
  background: var(--color-red);
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lab p {
  border: none;
  margin-bottom: 0;
  color: var(--guzman-back);
}
.fotos-copy {
  position: absolute;
  bottom: 20px;
  right: 15px;
  z-index: 50;
  font-size: 9pt;
  padding: 5px 10px;
  background: rgba(250, 247, 240, 0.2);
  color: var(--color-red);
  text-align: right;
  line-height: 1.2;
  border-radius: 2px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
.slider {
  position: relative;
  z-index: 20;
  width: 100vw;
}
.splide__slide {
  width: 100vw !important;
}
.splide__list {
}
.splide__track {
  /* position: relative !important; */
}
.splide__pagination {
  bottom: 2rem !important;
}
.splide__arrow {
  background: none !important;
  background: rgba(250, 247, 240, 0.3) !important;
  border: 1px solid rgba(250, 247, 240, 0.04) !important;
  font-size: 2.5rem;
  opacity: 1;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.splide__arrow:hover {
  background: var(--guzman-back) !important;
  border: none !important;
}
.splide__arrow svg {
  fill: var(--color-red);
  stroke: var(--color-red);
  stroke-width: 1px;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
}
.splide__arrow:hover svg {
  fill: var(--bomb);
  stroke: var(--bomb);
}
.splide__arrow:active svg {
  fill: var(--guzman-back);
  stroke: var(--guzman-back);
}
.splide__arrow--prev {
  left: 1rem !important;
}
.splide__arrow--next {
  right: 1rem !important;
}
.splide__pagination__page {
  border: none !important;
}
.splide__slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.splideOld .splide__slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.splideOld .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.splideOld .splide__slide:nth-child(n + 8) img {
  /* object-fit: scale-down; */
  height: auto;
  width: auto;
  max-height: 85%;
  max-width: 85%;
  border: 10px solid rgba(191, 213, 214, 0.5);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.splideObras .splide__slide img {
  margin-top: 4vh;
  max-height: 90vh;
}
.splideOld,
.splideNew {
  /* background: var(--color-red); */
}
.slider.slider_obras {
  mix-blend-mode: darken;
}
.slider.slider_obras .splide__pagination__page {
  background-color: #8aacad;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices (desktops, 1024px and up) */
@media screen and (min-width: 1024px) {
  body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: var(--font-size);
    line-height: 1.8;
    letter-spacing: 0.5px;
  }

  p {
    margin-bottom: 20px;
    /* border-left: 1px solid rgba(68, 48, 60, 0.2); */
    padding-left: 20px;
  }

  .audio_play {
    max-width: 140px;
    max-height: 140px;
  }

  .hero-letters_box {
    padding: 35% 0 5% 0;
  }
  .mmc {
    width: 25%;
  }
  .hero-letter {
    margin: 0 -2.5px;
  }

  .hero-dpto {
    /* font-size: calc(var(--font-size) * 1.5); */
  }

  svg.scrollArrow {
    width: calc(5vw);
  }

  .hero-info {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .hero-info p {
    width: 48%;
    margin-right: 2%;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .hero-img-copy {
    font-size: 10pt;
    margin: 10px 30px 0;
    font-weight: 300;
    line-height: 1.3;
  }

  .context {
    width: 85vw;
    max-width: 1040px;
    margin: auto;
    margin-top: -10%;
    margin-bottom: 22vh;
    position: relative;
    z-index: 1;
    border: solid 1px var(--main-bg-color);
  }
  .context-text {
    position: relative;
    z-index: 10;
    margin: 40% 0 0 35%;
    width: 58%;
  }
  blockquote {
    font-family: "Noto Serif", serif;
    line-height: 1.2;
    font-style: italic;
    font-size: calc(1.8vw + 1vh);
    z-index: 1;
    margin-bottom: 10vh;
    padding-left: 5vw;
  }
  blockquote svg {
    position: absolute;
    z-index: -1;
    top: -40%;
    left: -6%;
    width: 30%;
    fill: var(--hero-bg-color);
  }
  .context-text cite {
    display: block;
    font-size: calc(var(--font-size) - 3pt);
    font-style: normal;
    margin: 20px 0 0 30px;
  }

  .context-map {
    position: absolute;
    z-index: 5;
    top: -28%;
    left: 0;
    width: 45vw;
  }
  .location-pin {
    fill: var(--color-red);
    height: 40px;
    position: absolute;
    top: calc(59.5% - 42px);
    left: -20.7%;
  }
  .map-colombia {
    stroke: var(--hero-bg-color);
    stroke-width: 1px;
    fill: #fcfaf7;
  }
  .map-huila {
    fill: var(--main-bg-color);
    stroke: var(--hero-bg-color);
    stroke-width: 1px;
  }
  .map-algeciras {
    fill: var(--hero-bg-color);
  }

  .content-info {
    max-width: 1040px;
    padding: 0 20px 5vh;
    position: relative;
    z-index: 10;
    margin: auto;
  }
  .content-info::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  .content-info h2 {
    float: right;
    font-size: calc(2vw + 3vh);
    line-height: 1;
    display: inline-block;
    width: 47%;
    font-weight: 300;
    margin-bottom: 25px;
    color: var(--guzman-back);
  }
  .content-info span {
    float: left;
    width: 52%;
    margin-right: 1%;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--guzman-back);
  }
  .content-info p {
    float: right;
    width: 47%;
  }
  .content-info p span {
    width: auto;
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .content-info p:first-of-type {
    float: left;
    width: 52%;
    margin-right: 1%;
    padding-right: 2%;
  }
  .content-info p:first-of-type::first-letter {
    font-family: "Noto Serif", serif;
    font-weight: 300;
    text-transform: uppercase;
    float: left;
    font-size: calc(2.5vw + 3vh);
    line-height: 40px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    color: var(--guzman-back);
  }

  .atentados {
    position: relative;
    width: 94vw;
    max-width: 1200px;
    margin: 1vh auto 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .atentados-copy p {
    margin-bottom: 0;
  }
  .atentado {
    max-width: 48%;
    margin: 3% 1% 0;
    border-top: 1px solid var(--color-red2);
    border-bottom: 1px solid var(--color-red2);
    padding: 0px 10px;
    position: relative;
  }
  .atentado:after {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    left: 10px;
    width: calc(100% - 19px);
    height: calc(100% + 26px);
    border-left: 1px solid var(--color-red2);
    border-right: 1px solid var(--color-red2);
  }

  .waveform {
    width: 80%;
  }
  .waveBox {
    /* margin-right: 28px; */
  }
  .audioMario1 {
    background-position: 100% 40%;
  }
  .audioMario2 {
    /* background-position: 100% 40%; */
  }

  .attack {
    position: absolute;
    z-index: 100;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    cursor: pointer;
  }
  .attack:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: rgba(91, 66, 49, 0.9);
    z-index: 8;
    border-radius: 60%;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
  }
  .attack div {
    position: relative;
    width: 76%;
    text-align: center;
    font-weight: 300;
    line-height: 1.4;
    font-style: italic;
    font-size: calc(0.8vw + 1vh);
    color: var(--guzman-back);
    z-index: 10;
    pointer-events: none;
    cursor: pointer;
  }
  .attack-1 {
    width: 18%;
    top: 18%;
    left: 31%;
  }
  .attack-2 {
    width: 26%;
    top: 26%;
    left: 43%;
  }
  .attack-3 {
    width: 28%;
    top: 45%;
    left: 22%;
  }
  .attack-4 {
    width: 26%;
    top: 47%;
    left: 54%;
  }
  .attack-5 {
    width: 33%;
    top: 52%;
    left: 33%;
  }

  h1 {
    font-size: calc(6vw + 5.5vh + 1vmin);
    line-height: 0.9;
    margin: 25vh 0 15vh;
    letter-spacing: -5px;
  }
  h1 span {
    font-size: calc(3vw + 2vh + 1vmin);
    line-height: 1;
    display: block;
    margin: 0;
    letter-spacing: 8px;
  }
  h1 span.mario {
    color: var(--guzman-back);
  }

  .guzman-iglesia {
    width: 52%;
  }

  .xMovil {
    display: none;
  }
  .xDesk {
    display: block;
  }
  .guzman-info p {
    width: 60%;
  }
  .guzman-info.new {
    margin-top: 5vh;
    padding-top: 5vh;
  }
  .guzman-info.new p {
    width: 45%;
  }
  .guzman-info.foto {
    height: 75vh;
    margin-top: 10vh;
  }
  .guzman-foto {
    width: 50%;
  }
  .guzman-info.foto h2 {
    font-size: calc(6vw + 8vh);
    line-height: 0.66;
    left: 6%;
    bottom: -6%;
  }
  .guzman-text p {
    width: 60%;
  }
  .obra-text {
    width: 60%;
  }
  .guzman-info.obra p.cristo-title {
    top: -30%;
    left: 30%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1440px and up) */
@media screen and (min-width: 1440px) {
}
